body  {
    background: black;
    color:purple;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: purple;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 1em;
}

header #logo {
  width: 20px;
  vertical-align: middle;
}

header #tagline {
    padding-left: 1.5em;
    font-weight: normal;
    font-size: 0.8em
}

#container {
    background: white;
    color: teal;
    width: 80%;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    padding: 1em;
    font-size: 18px;
}

#post img {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-self: center;
}

footer {
  background: #777;
  color: white;
  text-align: center;
  padding: 0.5em;
}